<ul class="aside">
  <%for(var i=0;i<asideList.length;i++){%>
    <%if((asideList[i].checked && asideList[i].type==1)|| userinfo.is_super==1){%>
      <li>
        <h4>
          <%=asideList[i].module_name%>
        </h4>

        <ul>
          <%for(var j=0;j<asideList[i].items.length;j++){%>
            <%if((asideList[i].items[j].checked && asideList[i].items[j].type==2) || (userinfo.is_super==1 &&
              asideList[i].items[j].type==2)){%>
              <li class="list-group-item">
                <a target="rightMain" href="/<%=config.adminPath%>/<%=asideList[i].items[j].url%>">
                  <%=asideList[i].items[j].action_name%>
                </a>
              </li>
              <%}%>

                <%}%>
        </ul>
      </li>
      <%}%>

        <%}%>



</ul>
