<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">


    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a>欢迎您,<%= userinfo.username%></a>
        </li>
        <li><a href="/<%=config.adminPath%>/login/loginOut">安全退出</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
