<ul>
    <li><a <%if(pathname=='/user/welcome'){%> class="active" <%}%> href="/user/welcome">欢迎页面</a></li>
    <li><a <%if(pathname=='/user/order' || pathname=='/user/orderinfo'){%> class="active" <%}%> href="/user/order">我的订单</a></li>
    <li><a href="#">用户信息</a></li>
    <li><a href="#">我的收藏</a></li>
    <li><a href="#">我的评论</a></li>
</ul>