<%- include ('../public/page_header.ejs')%>
  <!--end header -->

  <!-- start banner_x -->
  <%- include ('../public/banner.ejs')%>
    <!-- end banner_x -->
    <link rel="stylesheet" href="/default/css/welcome.css">
    <!-- self_info -->
    <div class="grzxbj">
      <div class="selfinfo center">
        <div class="lfnav fl">
          <div class="ddzx">用户中心</div>
          <div class="subddzx">
            <%- include ('./left_aside.ejs')%>
          </div>
        </div>
        <div class="rtcont fr">
          <div class="portal-content-box">



            <div class="box-bd">
              <div class="portal-main clearfix">
                <div class="user-card">
                  <h2 class="username">2152135723</h2>
                  <p class="tip">晚上好</p>
                  <a class="link" href="#" target="_blank" data-stat-id="30d619c492c43471"
                    onclick="_msq.push(['trackEvent', 'f4f3444fdfa3d27a-30d619c492c43471', '#', 'pcpid', '']);">修改个人信息
                    &gt;</a>
                  <img class="avatar" src="https://account.xiaomi.com/static/img/passport/photo.jpg" width="150"
                    height="150" alt="2152135723">
                </div>
                <div class="user-actions">
                  <ul class="action-list">
                    <li>账户安全：<span class="level level-2">普通</span></li>
                    <li>绑定手机：<span class="tel">150********01</span></li>

                    <li>绑定邮箱：<span class="tel"></span><a class="btn btn-small btn-primary" href="#" target="_blank"
                        data-stat-id="d36648c4ef44cb77"
                        onclick="_msq.push(['trackEvent', 'f4f3444fdfa3d27a-d36648c4ef44cb77', '#', 'pcpid', '']);">绑定</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="portal-sub">
                <ul class="info-list clearfix">
                  <li>
                    <h3>待支付的订单：<span class="num">0</span></h3>
                    <a href="//static.mi.com/order/?type=7" data-stat-id="ff48b3f50874dae7">查看待支付订单</a>
                    <img src="//s01.mifile.cn/i/user/portal-icon-1.png" alt="">
                  </li>
                  <li>
                    <h3>待收货的订单：<span class="num">0</span></h3>
                    <a href="//static.mi.com/order/?type=8" data-stat-id="f7b15ff4b8710895">查看待收货订单</a>
                    <img src="//s01.mifile.cn/i/user/portal-icon-2.png" alt="">
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- self_info -->

    <%- include ('../public/page_footer.ejs')%>
      </body>

      </html>
